---
---

@charset "utf-8";

// variables.less link and gradient background
$head-primary: #5D2C8C ;
$head-secondary: #DB236D;
$theme-primary: #17B0E3 ;
$theme-secondary: #A6E0C8 ;
$theme-dark: #222222;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "vendors",
        "mixins",
        "base"
;
