<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,400,700&display=swap" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="/vendor/font-awesome/font-awesome.min.css">

    <!-- Custom CSS
    <link rel="stylesheet" href="css/main.css" type="text/css"> -->
    <link href="/css/main.css" rel="stylesheet">
    <link rel="shortcut icon" href="/img/favicon.ico" />

    <style>
        @font-face {
            font-family: "Blanka";
            src: url("{{site.assets_location}}/blanka-Regular.ttf?raw=true") format("embedded-opentype"),
                 url("{{site.assets_location}}/blanka-Regular.ttf?raw=true") format("truetype");
            font-weight: normal;
            font-style: normal;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>