<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>
                            <span>Archmix is a developer foundation focused on solving distributed system problems providing open source solutions.</span>
                        </h1>
                     </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="header-content">
                    <div class="header-content-inner">
                        <img src="/img/logo.png" width="100%" class="img-fluid mx-auto d-block"/>
                        <div class="org-font logo-text text-center"><span class="arch-text">Arch</span><span class="mix-text">mix</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
