<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>
                            Developers as People
                        </h1>
                        <p class="lead">
                            The first-class citizens of our community are developers and everything we do is to find a way to make their life exciting, productive and stress-free. 
                        </p>
                     </div>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="header-content">
                    <div class="header-content-inner">
                        <img src="{{site.assets_location}}/logo.png" width="100%" class="img-fluid mx-auto d-block"/>
                        <div class="org-font logo-text text-center"><span class="arch-text">Arch</span><span class="mix-text">mix</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
