<section id="meet" class="meet p-5">
    <p class="h1 ">Meet us</p>
    <p class="lead">
        We work with distributed system solutions every single day and we found some gaps that we know we can fill it out. So we decided to open source these solutions to help you and your team to build amazing systems with confidence too.
    </p>
    <p class="lead">
        Because of this we created the only architecture scaffolding and blueprint you need to have a reactive architecture for your systems.
    </p>
    <!--
        <div class="embed-responsive embed-responsive-16by9">
            <iframe frameborder="0" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" src="https://docs.google.com/presentation/d/e/2PACX-1vQ4wAYHW1fr4bN4I-Gutd6UrxXY6wDJENMfJzwrXg55QT1MT6wnmGXn2nC7iCHm_QFadBVhYlvhapWs/embed?start=false&loop=true&delayms=3000"></iframe>
        </div>
    -->
</section>