<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand page-scroll" href="/">
        <img src="{{site.assets_location}}/brand.png" width="128" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            {% for section in sections %}            
            <li class="nav-item">
                <a class="nav-link" href="#{{section.id}}">{{section.nav_label}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</nav>