<section id="solutions" class="p-5">
    <p class="h1 text-center">Meet our solutions</p>
        
    <div class="card-deck">
        {% for solution in site.data.solutions %}
        <div class="card border-0">
            <!--
                <img class="card-img-top" src="/img/solutions/{{solution.id}}.png" alt="Puzzly">
            -->
            <div class="card-body "><!-- if use image add d-flex to card-body -->
                <div class="mt-auto">
                    <h5 class="card-title">{{solution.title}}</h5>
                    <p class="card-text">
                        {{solution.description}}
                    </p>
                    <a href="{{solution.href}}" class="btn btn-danger">{{solution.label}}</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>