<section id="solutions" class="p-5">
    <p class="h1 text-center">Meet our solutions</p>
        
    <div class="card-deck">
        <div class="card">
            <!--
                <img class="card-img-top" src="/img/solutions/puzzly.png" alt="Puzzly">
            -->
            <div class="card-body "><!-- if use image add d-flex to card-body -->
                <div class="mt-auto">
                    <h5 class="card-title">Architecture Blueprint</h5>
                    <p class="card-text">
                        We are veterans software engineers and we created a reactive architecture blueprint that document how to apply design patterns like CQRS, Event Carry State including naming conventions for micro services, caches, topics and so on.
                    </p>
                    <a href="#" class="btn btn-danger">Comming soon...</a>
                </div>
            </div>
        </div>

        <div class="card">
            <!--
                <img class="card-img-top" src="/img/solutions/puzzly.png" alt="Puzzly">
            -->
            <div class="card-body "><!-- if use image add d-flex to card-body -->
                <div class="mt-auto">
                    <h5 class="card-title">Puzzly</h5>
                    <p class="card-text">
                        Puzzly is a governance portal that helps teams build distributed systems with confidence knowing about resources they have in production through a navigational structure.
                    </p>
                    <a href="#" class="btn btn-danger">Get Started</a>
                </div>
            </div>
        </div>

        <div class="card">
            <!--
                <img class="card-img-top" src="/img/solutions/metanoid.png" alt="Metanoid">
            -->
            <div class="card-body ">
                <div class="mt-auto">
                    <h5 class="card-title">Metanoid</h5>
                    <p class="card-text">
                        Metanoid is a polyglot automation that extracts from your source code all the resources you need to publish in the puzzly and make effortless the process of maintaining your governance portal up to date.
                    </p>
                    <a href="#" class="btn btn-danger">Comming soon...</a>
                </div>
            </div>
        </div>

        <div class="card">
            <!--
                <img class="card-img-top" src="/img/solutions/legolas.png" alt="Legolas">
            -->
            <div class="card-body ">
                <div class="mt-auto">
                    <h5 class="card-title">Legolas</h5>
                    <p class="card-text">
                        Legolas is an application scaffolding for creating reactive micro services based on Eclipse Vert.x, Apache Kafka, JCache and the most popular databases.
                    </p>
                    <a href="#" class="btn btn-danger">Comming soon...</a>
                </div>
            </div>
        </div>
    </div>
</section>