.triady-font {
  font-family: "Poppins", sans-serif;
}

h1.triady-font {
  font-size: 5rem;
  font-weight: 700;
}

strong {
  font-weight: 700;
}

.org-font {
  font-family: "Poppins", sans-serif;
}

.logo-text {
  font-size: 5em;
}

.arch-text {
  font-weight: 700;
}

.mix-text {
  font-weight: 200;
}
