<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
    {% include scripts.html %}

    {% include nav.html %}
    
    <div class="container-fluid doc-container">
        <div class="row flex-xl-nowrap doc-row">
            <div class="col-md-3 col-xl-2 doc-sidebar">
                {% include sidebar.html %}
            </div>
            <div id="doc-content" class="col-md-9 col-xl-8 py-md-3">
                {{ content }}
            </div>
            <nav class="d-none d-xl-block col-xl-2 p-3 doc-toc" aria-label="Secondary navigation">
                {% include toc.html %}
            </nav>
        </div>
    </div>
</body>

</html>